<link rel="stylesheet" href="js/lightbox/css/lightbox.min.css"/>
<script src="js/lightbox/js/lightbox.min.js"></script>	

<script type="text/javascript">
	var id_ogloszenia = {$ogloszenie.id}
</script>

{include file="top.tpl"}

<div class="strona padding30" itemscope itemtype="http://schema.org/Product">
	{if isset($podglad)}
	<div id="podglad_ogloszenia" class="padding20">
		<h3>Opłaty za ogłoszenie</h3>
		<table>
			{foreach from=$podglad.oplata item=item key=key}
				<tr>
					<td>{$item.opis}</td>
					<td>{$item.ile|number_format:2:",":" "} {$ustawienia.waluta}</td>
				</tr>
			{/foreach}
		</table>
		<div class="right">
			<table class="druga_tabela">
			<tr>
				<td><b>Razem:</b></td>
				<td><b>{$podglad.do_oplacenia|number_format:2:",":" "} {$ustawienia.waluta}</b></td>
			</tr>
				<tr>
					<td>Opłacono:</td>
					<td>{$ogloszenie.oplacona_koszt|number_format:2:",":" "} {$ustawienia.waluta}</td>
				</tr>
				<tr>
					<td><b>Do zapłacenia:</b></td>
					<td><b>{$podglad.zostalo_do_zaplacenia|number_format:2:",":" "} {$ustawienia.waluta}</b></td>
				</tr>
			</table>
		</div>
		<br>
		{if isset($uzytkownik)}
			<a href="edytuj,{$ogloszenie.id},{$ogloszenie.prosty_tytul}" title="Wróć do edycji ogłoszenia" class="submit floatleft">Edytuj</a>
		{/if}
		{if $podglad.oplacona}
			<a href="{$ogloszenie.id},{$ogloszenie.prosty_tytul}?podglad&zatwierdz" title="Zatwierdź ogłoszenie" class="submit floatright">Zatwierdź</a>
		{else}
			{if ($ustawienia.platnosc_dotpay && $ustawienia.dotpay_id!='') || isset($tpay_md5sum) || $ustawienia.platnosc_przelewy24 || $ustawienia.platnosc_payu || ($ustawienia.platnosc_paypal  && $ustawienia.paypal_email!='') || $ustawienia.platnosc_checkout}
				{if $ustawienia.platnosc_paypal && $ustawienia.paypal_email!=''}
					<form action="{$ustawienia.base_url}/php/platnosci_paypal.php" method="post" class="floatright">
						<input type="hidden" name="cmd" value="_xclick" />
						<input type="hidden" name="no_note" value="1" />
						<input type="hidden" name="lc" value="{$ustawienia.paypal_lokalizacja}" />
						<input type="hidden" name="currency_code" value="{$ustawienia.paypal_waluta}" />
						<input type="hidden" name="bn" value="Aktywacja ogloszenia: {$ogloszenie.id}" />
						<input type="hidden" name="payer_email" value="{$ustawienia.paypal_email}"  />
						<input type="hidden" name="item_number" value="{$ogloszenie.id}" />
						<input type="hidden" name="kwota" value="{$podglad.zostalo_do_zaplacenia}" />
						<input type="submit" name="submit" value="Zapłać przez PayPal"/>
					</form>
				{/if}
				{if $ustawienia.platnosc_dotpay && $ustawienia.dotpay_id!=''}
					{if $ustawienia.dotpay_nowy_formularz}
						{if $ustawienia.dotpay_tryb_testowy}
							<form method="post" action="https://ssl.dotpay.pl/test_payment/" class="floatright">
						{else}
							<form method="post" action="https://ssl.dotpay.pl/t2/" class="floatright">
						{/if}
					{else}
						<form method="post" action="https://ssl.dotpay.eu" class="floatright">
					{/if}
						<input type="hidden" name="id" value="{$ustawienia.dotpay_id}" />
						<input type="hidden" name="opis" value="Aktywacja ogloszenia: {$ogloszenie.id}" />
						<input type="hidden" name="control" value="{$ogloszenie.id}" />
						<input type="hidden" name="amount" value="{$podglad.zostalo_do_zaplacenia}" />
						<input type="hidden" name="typ" value="3"/>
						<input type="hidden" name="waluta" value="{$ustawienia.dotpay_waluta}"/>
						<input type="hidden" name="URL" value="{$ustawienia.base_url}/{$ogloszenie.id},{$ogloszenie.prosty_tytul}?podglad" />
						<input type="hidden" name="URLC" value="{$ustawienia.base_url}/php/platnosci_dotpay.php" />
						<input type="submit" value="Zapłać przez Dotpay" />
					</form>
				{/if}
				{if isset($tpay_md5sum)}
					<form action="https://secure.tpay.com" method="post" class="floatright">
						<input type="hidden" name="id" value="{$ustawienia.tpay_id}">
						<input type="hidden" name="kwota" value="{$podglad.zostalo_do_zaplacenia}"> 
						<input type="hidden" name="opis" value="Aktywacja ogloszenia: {$ogloszenie.id}"> 
						<input type="hidden" name="crc" value="{$ogloszenie.id}"> 
						<input type="hidden" name="md5sum" value="{$tpay_md5sum}">
						<input type="hidden" name="wyn_url" value="{$ustawienia.base_url}/php/platnosci_tpay.php">
						<input type="hidden" name="pow_url" value="{$ustawienia.base_url}/{$ogloszenie.id},{$ogloszenie.prosty_tytul}?podglad&status=ok">
						<input type="hidden" name="pow_url_blad" value="{$ustawienia.base_url}/{$ogloszenie.id},{$ogloszenie.prosty_tytul}?podglad&status=error"> 
						<input type="hidden" name="email" value="{if isset($uzytkownik)}{$uzytkownik.email}{else}{$ogloszenie.email}{/if}">
						<input type="hidden" name="jezyk" value="pl"> 
						<input type="submit" value="Zapłać przez TPay">
					</form> 
				{/if}
				{if $ustawienia.platnosc_przelewy24}
					<form action="{$ustawienia.base_url}/php/platnosci_przelewy24.php" method="get" class="floatright">
						<input type="hidden" name="akcja" value="zlec_zaplate" /></td></tr>
						<input type="hidden" name="id_ogloszenia" value="{$ogloszenie.id}" />
						<input type="submit" value="Zapłać przez Przelewy24"/>
					</form>
				{/if}
				{if $ustawienia.platnosc_payu}
					<form action="{$ustawienia.base_url}/php/platnosci_payu.php" method="get" class="floatright">
						<input type="hidden" name="akcja" value="zlec_zaplate" /></td></tr>
						<input type="hidden" name="id_ogloszenia" value="{$ogloszenie.id}" />
						<input type="submit" value="Zapłać przez PayU"/>
					</form>
				{/if}
				{if $ustawienia.platnosc_checkout}
					<form class="floatright" method="post" action="{$ustawienia.base_url}/php/platnosci_checkout.php">
						<input type="hidden" name="id_ogloszenia" value="{$ogloszenie.id}"/>
						<input type="hidden" name="email" value="{if isset($uzytkownik)}{$uzytkownik.email}{else}{$ogloszenie.email}{/if}" />
						<input type="hidden" name="kwota" value="{$podglad.zostalo_do_zaplacenia}" />
						<input type="hidden" name="opis" value="Aktywacja ogloszenia: {$ogloszenie.id}" />
						<input type="submit" value="Zapłać przez CheckOut">
					</form>
				{/if}
			{else}
				<a href="platnosci" title="Strona płatności" class="submit floatright">Płatności</a>
			{/if}
		{/if}
		<div class="clear"></div>
	</div>
	{/if}
	<div id="ogloszenie">
		<div id="ogloszenie_tytul" class="inline_block">
			<h2 class="break_word" itemprop="name">{$ogloszenie.tytul}</h2>
			<h3>
				{if $ogloszenie.typ_nazwa!=''}[{$ogloszenie.typ_nazwa}]{/if}
				{if $ogloszenie.typ_nazwa!='' && $ogloszenie.kategoria_nazwa} - {/if}
				{if $ogloszenie.kategoria_nazwa!=''}<a href="kategoria,{$ogloszenie.kategoria},{$ogloszenie.kategoria_prosta_nazwa}" title="Kategoria: {$ogloszenie.kategoria_nazwa}"><span itemprop="category">{$ogloszenie.kategoria_nazwa}</span></a>{/if}
				{if $ogloszenie.kategoria_nazwa!='' && $ogloszenie.stan} - {/if}
				{if $ogloszenie.stan}<span itemprop="itemCondition">{if $ogloszenie.stan==1}Nowe{else}Używane{/if}</span>{/if}
			</h3>
			{if isset($uzytkownik) && ($ogloszenie.id_uzytkownika==$uzytkownik.id || $uzytkownik.admin)}
				<p class="hidden_print" style="padding: 5px 2px">
					<a href="edytuj,{$ogloszenie.id},{$ogloszenie.prosty_tytul}" title="Edytuj ogłoszenie">Edytuj</a> | 
					<a href="#" title="Usuń ogłoszenie" class="ajax_confirm" data-akcja="usun" data-id="{$ogloszenie.id}" data-title="Czy na pewno chcesz usunąć ogłoszenie?" data-redirect="{$ustawienia.base_url}?ogloszenie_usunieto">Usuń</a>
				</p>
			{/if}
		</div>
		<div id="przyciski_spolecznosciowe" class="inline_block floatright">
			<div class="dodaj_do_schowka">
				<form action="" method="post">
					<input type="hidden" name="akcja" value="dodaj_schowek">
					<input type="submit" value="Dodaj do schowka">
				</form>
			</div>
			{if $ustawienia.facebook_like}
				<div class="przycisk_spolecznosciowy">
					<div class="fb-like" data-href="{$ustawienia.base_url}/{$ogloszenie.id},{$ogloszenie.prosty_tytul}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
				</div>
			{/if}
			{if $ustawienia.nk_like}			
				<div class="przycisk_spolecznosciowy" style="padding-top: 9px">			
					{literal}			
						<script type="text/javascript">
						var nk_wg = ({content: null,host: "http://nk.pl/",image: "http://0.s-nk.pl/img/nk_widgets/nk_btn/nk_btn_311"});
						</script>
						<script type="text/javascript" src="http://0.s-nk.pl/script/sledzik/widgets/sledzik_widget_shout"></script>
					{/literal}
				</div>
			{/if}
			{if $ustawienia.twitter_like}
				<div class="przycisk_spolecznosciowy">
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="{$ustawienia.base_url}/{$ogloszenie.id},{$ogloszenie.prosty_tytul}" data-lang="pl">Tweetnij</a>
					{literal}
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					{/literal}
				</div>
			{/if}
			{if $ustawienia.wykop_like}
				<div class="przycisk_spolecznosciowy">
					<script language="javascript">
					// wykopywarka wersja kompaktowa (100x20)
					var wykop_url=location.href;	// Link do strony
					var wykop_title=encodeURIComponent(document.title);	// Tytuł strony (pobierany z <title>)
					var wykop_desc=encodeURIComponent('{$ustawienia.description}');
					var widget_bg='FFFFFF';
					var widget_type='compact2';
					var widget_bold=true;	// pogrubienie napisu Wykop - domyślnie true
					var widget_url='http://www.wykop.pl/dataprovider/diggerwidget/?url='+encodeURIComponent(wykop_url)+'&title='+(wykop_title)+'&desc='+(wykop_desc)+'&bg='+(widget_bg)+'&type='+(widget_type)+'&bold='+(widget_bold);
					document.write('<div><iframe src="'+widget_url+'" style="border:none;width:100px;height:20px;overflow:hidden;margin:0;padding:0;" frameborder="0" border="0"></iframe></div>');</script>
				</div>
			{/if}
			{if $ustawienia.google_plus_like}
				<div class="przycisk_spolecznosciowy">
					{literal}
						<script src="https://apis.google.com/js/platform.js" async defer>{lang: 'pl'}</script>
						<div class="g-plusone" data-size="medium"></div>
					{/literal}
				</div>
			{/if}
		</div>
		<div class="clear"></div>
		<br>
		<div id="ogloszenie_zdjecia" class="inline_block {if !isset($zdjecia)}brak_zdjec{/if}">
			<div class="inside center">
				{if isset($zdjecia)}
					<a href="{$ustawienia.upload}/{$zdjecia.0.url}" data-lightbox="slider"><img src="{$ustawienia.upload}/{$zdjecia.0.url}" alt="{$ogloszenie.tytul}" class="duze_zdjecie" onerror="this.src='{$ustawienia.base_url}/views/{$ustawienia.szablon}/images/brak_zdjecia.png'"></a>
					<ul id="ogloszenie_owl">
						{foreach from=$zdjecia item=item key=key}
							{if $key!=0}
								<li><a href="{$ustawienia.upload}/{$item.url}" data-lightbox="slider"><img src="{$ustawienia.upload}/{$item.miniaturka}" alt="{$ogloszenie.tytul}" onerror="this.src='{$ustawienia.base_url}/views/{$ustawienia.szablon}/images/brak_zdjecia.png'" itemprop="image"></a></li>
							{/if}
						{/foreach}
					</ul>
				{else}
					<img src="{$ustawienia.base_url}/views/{$ustawienia.szablon}/images/brak_zdjecia.png" alt="Brak zdjęcia" class="duze_zdjecie">
				{/if}
			</div>
		</div>
		<div id="ogloszenie_cechy" class="inline_block">
			<div class="inside">
				<p class="maly_akapit">Opublikowano: {$ogloszenie.start|date_format:"%d-%m-%Y"}, wygaśnie: {$ogloszenie.koniec|date_format:"%d-%m-%Y"}</p>
				{if !$ustawienia.ukryj_liczbe_wyswietlen}<p class="maly_akapit">Wyświetleń: <b>{$ogloszenie.ile_wyswietlen}</b></p>{/if}
				{if $ogloszenie.za_darmo}
					<p class="cena"><span style="padding-left:0px">Za darmo</span></p>
				{else}
					<p class="cena">
					{if $ogloszenie.cena!='0.00'}
						Cena: <span>{$ogloszenie.cena|number_format:2:",":" "}&nbsp;{$ustawienia.waluta}</span>
					{/if}
					{if $ogloszenie.cena_do_negocjacji}{if $ogloszenie.cena=='0.00'}Cena do negocjacji{else}(<i>do&nbsp;negocjacji</i>){/if}{/if}
					</p>
				{/if}
				{if isset($ogloszenie.uzytkownik)}
					<p style="display:inline-block">Dodał(a): <b ><a href="profil,{$ogloszenie.uzytkownik}" title="Profil użytkownika: {$ogloszenie.uzytkownik}">{$ogloszenie.uzytkownik}</a></b></p>
					{if $ustawienia.ocenianie_profilu}
						<div id="gwiazdki_ogloszenie">
							<div class="gwiazdka_ogloszenie {if $ogloszenie.uzytkownik_oceny.srednia>=0.5}gwiazdka_ogloszenie_stala{/if}"></div>
							<div class="gwiazdka_ogloszenie {if $ogloszenie.uzytkownik_oceny.srednia>=1.5}gwiazdka_ogloszenie_stala{/if}"></div>
							<div class="gwiazdka_ogloszenie {if $ogloszenie.uzytkownik_oceny.srednia>=2.5}gwiazdka_ogloszenie_stala{/if}"></div>
							<div class="gwiazdka_ogloszenie {if $ogloszenie.uzytkownik_oceny.srednia>=3.5}gwiazdka_ogloszenie_stala{/if}"></div>
							<div class="gwiazdka_ogloszenie {if $ogloszenie.uzytkownik_oceny.srednia>=4.5}gwiazdka_ogloszenie_stala{/if}"></div>
						</div>
					{/if}
					{if isset($ogloszenie.awatar) && $ogloszenie.awatar}
						<br><a href="profil,{$ogloszenie.uzytkownik}" title="Profil użytkownika: {$ogloszenie.uzytkownik}"><img src="{$ustawienia.upload}/{$ogloszenie.awatar}" onerror="this.src='{$ustawienia.base_url}/views/{$ustawienia.szablon}/images/brak_obrazka.png'" alt="{$ogloszenie.uzytkownik}" class="awatar"></a><br>
					{/if}
					<br>
				{/if}
				{if $ogloszenie.telefon!=''}<a href="tel:{$ogloszenie.telefon|replace:' ':''}" title="Zadzwoń do: {$ogloszenie.telefon}" class="boxy_kontakt inline_block"><img src="{$ustawienia.base_url}/views/{$ustawienia.szablon}/images/ikona_telefon.png" alt="Telefon">{if $ustawienia.ukrywaj_telefon}<span class="pokaz_ukryte_dane" data-dane="{$ogloszenie.telefon}">pokaż telefon...</span>{else}{$ogloszenie.telefon}{/if}</a>{/if}
				<a href="mailto:{$ogloszenie.email}" title="Napisz do: {$ogloszenie.email}" class="boxy_kontakt inline_block"><img src="{$ustawienia.base_url}/views/{$ustawienia.szablon}/images/ikona_email.png" alt="Email">{if $ustawienia.ukrywaj_email}<span class="pokaz_ukryte_dane" data-dane="{$ogloszenie.email}">pokaż email...</span>{else}{$ogloszenie.email}{/if}</a>
				<div class="clear"></div>
				{if isset($ogloszenie.opcje_dodatkowe)}
					{foreach from=$ogloszenie.opcje_dodatkowe item=item key=key}
						<p>{$key}: <b>{$item}</b></p>
					{/foreach}
				{/if}
				{if $ogloszenie.region_nazwa!=''}<p>{$ustawienia.regiony_nazwa}: <b>{$ogloszenie.region_nazwa}</b></p>{/if}
				{if $ogloszenie.region2_nazwa!=''}<p>{$ustawienia.regiony2_nazwa}: <b>{$ogloszenie.region2_nazwa}</b></p>{/if}
				{if $ogloszenie.lokalizacja!=''}
					<p>Lokalizacja: <b>{$ogloszenie.lokalizacja}</b></p>
					{if $ustawienia.pokaz_gmaps && $ogloszenie.mapa_google}
						<iframe id="iframe_mapagoogle" width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps?q={$ogloszenie.lokalizacja}&output=embed"></iframe>
					{/if}
				{/if}
			</div>
		</div>
		<br><br>
		<div id="ogloszenie_opis" itemprop="description">{$ogloszenie.opis}</div>
		{if $ustawienia.pokaz_formularz_kontaktowy && $ogloszenie.formularz_kontaktowy}
			<div id="ogloszenie_formularz">
				<h3 class="center">Formularz kontaktowy</h3>
				<div id="formularz_kontaktowy">
					<p class="red blad" id="info_imie"></p>
					<input type="text" id="imie" maxlength="32" placeholder="Imię i nazwisko" title="Tu wpisz swoje imię i nazwisko">
					<p class="red blad" id="info_email"></p>
					<input type="text" id="email" maxlength="32" placeholder="Adres email" title="Tu wpisz swój adres email" {if isset($uzytkownik)}value="{$uzytkownik.email}"{/if}>
					<p class="red blad" id="info_wiadomosc"></p>
					<textarea id="wiadomosc" placeholder="Twoja wiadomość" title="Tu wpisz swoją wiadomość"></textarea>
					{if $ustawienia.maile_zalaczniki}
						<input type="file" name="zalacznik" title="Tutaj możesz dodać załacznik do wiadomości" id="zalacznik">
					{/if}
					<div class="right">
						<input type="submit" value="Wyślij!" id="wyslij_mail">
					</div>
					<p id="info_ok"></p>
				</div>
			</div>
		{/if}
		<br>
		<p class="right hidden_print">
			{if $ustawienia.powiadomienia_z_ogloszen}<a href="#powiadom_znajomego" title="Powiadom znajomego" class="open_dialog">Powiadom&nbsp;znajomego</a> | {/if}
			<a href="#zglos_naduzycie" title="Zgłoś nadużycie" class="open_dialog">Zgłoś&nbsp;nadużycie</a>
		</p>
	</div>
</div>
{include file="footer.tpl"}

<div class="dialog center" id="zglos_naduzycie" data-title="Zgłoś nadużycie w ogłoszeniu">
	<p>Tutaj możesz zgłosić administratorowi serwisu nadużycie.</p>
	<p class="red blad" id="zglos_p_email"></p>
	<input type="email" name="email" title="Wpisz tu swój adres email" placeholder="john@example.com" required id="zglos_email" {if isset($uzytkownik)}value="{$uzytkownik.email}"{/if}>
	<p class="red blad" id="zglos_p_wiadomosc"></p>
	<textarea name="tresc" placeholder="Wiadomość do nas..." title="Tu wpisz wiadomość do nas dotyczącą nadużycia w serwisie" required id="zglos_wiadomosc" style="min-height: 100px;"></textarea>
	<p id="zglos_ok" class="ok"></p>
	<input type="submit" value="Wyślij!" id="wyslij_naduzycie"/>
	<input type="reset" value="Zamknij"/>
</div>
{if $ustawienia.powiadomienia_z_ogloszen}
<div class="dialog center" id="powiadom_znajomego" data-title="Powiadom znajomego o ogłoszeniu">
	<p>Tutaj możesz wysłać email do znajomego z linkiem do ogłoszenia.</p>
	{if isset($uzytkownik)}
		<p class="red blad" id="powiadom_p_email"></p>
		<input type="email" name="email" title="Tu wpisz adres email znajomego" placeholder="john@example.com" required id="powiadom_email">
		<p class="red blad" id="powiadom_p_wiadomosc"></p>
		<textarea name="tresc" placeholder="Wiadomość" title="Tu wpisz wiadomość do znajomego..." required id="powiadom_wiadomosc" style="min-height: 100px;"></textarea>
		<p id="powiadom_ok" class="ok"></p>
		<input type="submit" value="Wyślij!" id="wyslij_powiadomienie"/>
		<input type="reset" value="Zamknij"/>
	{else}
		<br><p class="red blad">Aby wysłać wiadomość musisz być <a href="logowanie?redirect={$ogloszenie.id},{$ogloszenie.prosty_tytul}" title="Zaloguj się w serwisie">zalogowany</a></p><br>
	{/if}
</div>
{/if}
	
