
	<div class="center">
		<h1>Banery reklamowe</h1>
		<p>Tutaj możesz edytować kod źródłowy banerów reklamowych wyświetlanych na stronie</p>
		<br>
		<form action="" method="post">
			<input type="hidden" name="akcja" value="zapisz_banery_reklamowe">
			<h2>Baner TOP 1:</h2>
			<textarea name="baner_top_1" placeholder="Kod baneru" title="Tu wklej kod baneru reklamowego">{$ustawienia.baner_top_1}</textarea>
			<br>
			<h2>Baner TOP 2:</h2>
			<textarea name="baner_top_2" placeholder="Kod baneru" title="Tu wklej kod baneru reklamowego">{$ustawienia.baner_top_2}</textarea>
			<br>
			<h2>Baner PANEL 1:</h2>
			<textarea name="baner_panel_1" placeholder="Kod baneru" title="Tu wklej kod baneru reklamowego">{$ustawienia.baner_panel_1}</textarea>
			<br>
			<h2>Baner PANEL 2:</h2>
			<textarea name="baner_panel_2" placeholder="Kod baneru" title="Tu wklej kod baneru reklamowego">{$ustawienia.baner_panel_2}</textarea>
			<br>
			<h2>Baner PANEL 3:</h2>
			<textarea name="baner_panel_3" placeholder="Kod baneru" title="Tu wklej kod baneru reklamowego">{$ustawienia.baner_panel_3}</textarea>
			<br>
			<h2>Baner PANEL 4:</h2>
			<textarea name="baner_panel_4" placeholder="Kod baneru" title="Tu wklej kod baneru reklamowego">{$ustawienia.baner_panel_4}</textarea>
			<br>
			<h2>Baner BOTTOM 1:</h2>
			<textarea name="baner_bottom_1" placeholder="Kod baneru" title="Tu wklej kod baneru reklamowego">{$ustawienia.baner_bottom_1}</textarea>
			<br>
			<h2>Baner BOTTOM 2:</h2>
			<textarea name="baner_bottom_2" placeholder="Kod baneru" title="Tu wklej kod baneru reklamowego">{$ustawienia.baner_bottom_2}</textarea>
			<br>
			<br>
			<input type="submit" value="Zapisz">
		</form>
	</div>