	
	<div class="center">
		<h1>Użytkownicy - logi</h1>
		<p>Tutaj możesz zobaczyć listę logowań do systemu przez użytkowników</p><br><br>
		
		{if isset($logi_uzytkownicy)}
		<table class="table">
			<tr>
				<td colspan="5">Użytkownicy - logi logowania</td>
			</tr>
			<tr>
				<td></td>
				<td>Login <a href="?{$url_strony.sortuj}&sortuj=login" title="Sortuj po loginie" class="ikona sortuj_gora"></a><a href="?{$url_strony.sortuj}&sortuj=login&desc" title="Sortuj malejąco po loginie" class="ikona sortuj_dol"></a></td>
				<td>Email <a href="?{$url_strony.sortuj}&sortuj=email" title="Sortuj po email" class="ikona sortuj_gora"></a><a href="?{$url_strony.sortuj}&sortuj=email&desc" title="Sortuj malejąco po email" class="ikona sortuj_dol"></a></td>
				<td class="center">Adres IP <a href="?{$url_strony.sortuj}&sortuj=ip" title="Sortuj po adresach IP" class="ikona sortuj_gora"></a><a href="?{$url_strony.sortuj}&sortuj=ip&desc" title="Sortuj malejąco po adresach ip" class="ikona sortuj_dol"></a></td>
				<td class="center">Data <a href="?{$url_strony.sortuj}&sortuj=data" title="Sortuj po dacie" class="ikona sortuj_gora"></a><a href="?{$url_strony.sortuj}&sortuj=data&desc" title="Sortuj malejąco po dacie" class="ikona sortuj_dol"></a></td>
			</tr>
			{foreach key=key item=item from=$logi_uzytkownicy name=logi_uzytkownicy}
				<tr>
					<td>{$smarty.foreach.logi_uzytkownicy.iteration+$iteration}</td>
					<td><a href="../profil,{$item.login}" title="profil użytkownika {$item.login}" target="_blank">{$item.login}</a></td>
					<td><a href="mailto:{$item.email}" title="Napisz email do: {$item.email}">{$item.email}</a></td>
					<td class="center">{$item.ip}</td>
					<td class="center">{$item.data|date_format:"%H:%M"} / <b>{$item.data|date_format:"%d-%m-%Y"}</b></td>
				</tr>
			{/foreach}	
		</table>
		{else}
		<h2>Nic nie znaleziono!</h2>
		{/if}
	</div>
	<br><br>
	{if $ile_stron>1}
	<div id="wybor_stron">
		<p>Strona {$ktora_strona} z {$ile_stron}</p>
		<a href="?{$url_strony.strona}" title="Pierwsza strona" class="link_strony link_strony_pierwsza {if $ktora_strona==1}nieaktywny{/if}"></a>
		<a href="?{$url_strony.strona}&strona={$ktora_strona-1}" title="Poprzednia strona" class="link_strony link_strony_lewo {if $ktora_strona==1}nieaktywny{/if}"></a>	
		<a href="?{$url_strony.strona}&strona={$ktora_strona+1}" title="Następna strona" class="link_strony link_strony_prawo {if $ktora_strona==$ile_stron}nieaktywny{/if}"></a>
		<a href="?{$url_strony.strona}&strona={$ile_stron}" title="Ostatnia strona" class="link_strony link_strony_ostatnia {if $ktora_strona==$ile_stron}nieaktywny{/if}"></a>
	 </div>
	{/if}